@font-face  {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
}


@font-face  {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}


@font-face  {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
}

