@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

@import "global/fonts.scss";

@import "global/variables.scss";

@import "global/global.scss";

@import "_page.scss";

@import "_page-header.scss";

@import "_slogan.scss";

@import "_downloads.scss";

@import "_information.scss";

@import "_features.scss";

@import "_result.scss";

@import "_reviews.scss";

@import "_price.scss";

@import "_contacts.scss";

@import "_page-footer.scss";

@import "_photographs.scss";

@import "_pictures.scss";

@import "_post-it.scss";

@import "_upload.scss";

@import "_competition.scss";

@import "_processing.scss";

@import "_submitting.scss";

@import "_popups.scss";

@import "global/service.scss";
